.searchContainer {
  position: relative;
}
.searchParagraf {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 400;
}
.searchForm {
  width: 300px;
  border: 1px solid rgb(158, 156, 156);
  border-radius: 4px;
  background-color: rgb(221, 236, 248);
  color: black;
  font-size: 18px;
  font-weight: 400;
  padding-left: 20px;
}
.searchImg {
  position: absolute;
  top: 38px;
  left: 2px;
}
